body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: center; */
    background-color: rgb(99, 132, 198);
    font-family: aileron, sans-serif;
    font-weight: 700;
    color: rgb(231, 242, 249);
    font-style: normal;
    text-shadow: 2px 2px rgb(61, 76, 136);
}

button {
    --glow-color: rgb(210, 231, 246);
    --glow-spread-color: rgba(123, 149, 255, 0.781);
    --enhanced-glow-color: rgb(175, 194, 230);
    --btn-color: rgb(61, 76, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
        inset 0 0 .75em .25em var(--glow-color);
    position: relative;
    transition: all 0.3s;
}

button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
        inset 0 0 .75em .25em var(--glow-color);
}

button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
        inset 0 0 .5em .25em var(--glow-color);
}